<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.splitwise"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk

        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon2"
        android:label="CashCulator"
        android:roundIcon="@mipmap/icon2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".HomeActivity"
            android:label="CashCulator">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity
            android:name=".SignUPActivity">
        </activity>
        <activity
            android:name=".BannerActivity">
        </activity>
        <activity
            android:name=".CalculationEditorActivity">
        </activity>
        <activity
            android:name="CalculationListActivityGroup">
        </activity>
        <activity
            android:name=".CalculationListActivityFriend">
        </activity>
        <activity
            android:name=".ExpenseListActivity">
        </activity>
        <activity
            android:name=".ExpenseEditorActivity">
        </activity>
        <activity
            android:name=".ManageCurrenciesActivity">
        </activity>
        <activity
            android:name=".SummaryActivity">
        </activity>
        <activity
            android:name=".CalculationEditorActivityFriend">
        </activity>
        <activity
            android:name=".ContactActivity">
        </activity>



    </application>

</manifest>